html {
	background-color: lightgray;
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
}

section {
	
	height: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-box-orient: vertical; 
}		

h1 { 
	border-bottom-style: solid;
	border-bottom-width: 1px; 
	border-bottom-color: gray;
}
